<?xml version='1.0' encoding='utf-8'?>
<widget id="com.iagosrl.cc-calc" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Calc</name>
    <description>
        A PhoneGap Calculator
    </description>
    <author email="rockncoder@gmail.com" href="http://therockncoder.blogspot.com/">
        Troy Miles the rockncoder
        slightly modified by Iago Lorenzo Salgueiro
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="permissions"                value="none"/>
</widget>
